/*
- Primary Color

       - #FF4C4C

- Secondary Color

       - #A94E97

- Text Colors

      - Black: #000000

      - Grey: #83869A

      - Links: #FF4C4C
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 1fr 1fr 1fr 50px;
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    grid-column: span 3;
    grid-row: span 1;
}

.header img {
    height: 200px;
}

.header a {
    color:#FF4C4C;
    text-decoration: none;
    margin: 10px;
}

.header a:hover {
    color: black;
}

.header button {
    width: 125px;
    height: 41px;
    border-radius: 28px;
    background: linear-gradient(180deg, #FF4C4C 0%, #A94E97 100%);
    box-shadow: 5px 5px 10px #888888;
}

.header button:hover {
    color: white;
}

.info {
    grid-column: span 1;
    grid-row: span 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info label, a {
    margin: 15px 0 5px 0;
}

.info button:hover {
    color: white;
}

.submit-btn {
    width: 125px;
    height: 41px;
    border-radius: 28px;
    background: linear-gradient(180deg, #FF4C4C 0%, #A94E97 100%);
    box-shadow: 5px 5px 10px #888888;
}

.pictures {
    grid-column: span 2;
    grid-row: span 3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pictures img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 10px 0;
    border-radius: 39px;
    box-shadow: 5px 10px 18px #888888;
}


.footer {
    grid-column: span 3;
    grid-row: span 1;
    background-color: #FF4C4C;
    color: #FFFFFF;
    text-align: left;
    padding: 15px;
}


@media (min-width: 500px) and (max-width: 800px) {
    .grid-container {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 100px 1fr 1fr 1fr 1fr 50px;
    }

    .header {
        grid-column: span 2;
        grid-row: span 1;
    }

    .header img {
        height: 100px;
    }

    .info {
        grid-column: span 2;
        grid-row: span 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 25px;
    }

    .pictures {
        grid-column: span 2;
        grid-row: span 3;
    }

    .footer {
        grid-column: span 2;
        grid-row: span 1;
        text-align: center;
    }
}
    @media (max-width: 499px) {
        .grid-container {
            display: grid;
            gap: 10px;
            grid-template-columns: 1fr;
            grid-template-rows: 100px 1fr 1fr 1fr 1fr 1fr 1fr 50px;
        }
    
        .header {
            grid-column: span 1;
            grid-row: span 1;
        }
    
        .header img {
            height: 100px;
        }

        .info {
            grid-column: span 1;
            grid-row: span 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        .pictures {
            grid-column: span 1;
            grid-row: span 5;
        }

        .footer {
            grid-column: span 1;
            grid-row: span 1;
            text-align: center;
        }
        
    }