/*
- Primary Color

       - #FF4C4C

- Secondary Color

       - #A94E97

- Text Colors

      - Black: #000000

      - Grey: #83869A

      - Links: #FF4C4C
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 1fr 1fr 1fr 50px;
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    grid-column: span 3;
    grid-row: span 1;
    border: 1px red solid;
}

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: span 3;
    grid-row: span 1;
    border: 1px blue solid;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px green solid;
    grid-column: span 3;
    grid-row: span 2;
}

.card {
    height: 322px;
    width: 350px;
    margin: 25px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: #FFFFFF;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    border: 1px hotpink solid;
}

.card img {
    margin-top: -70px;
}

.card a {
    text-decoration: none;
    color: #FF4C4C;
}

.cooking3 {
    background: linear-gradient(180deg, #FF4C4C 0%, #A94E97 100%);
    color: white;
    padding: 10px;
    text-align: center;
}

.footer {
    background-color: #FF4C4C;
    color: #FFFFFF;
    text-align: left;
    padding: 15px;
}